# maven ignore
# target下所有目录及文件
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

.settings/**
**/target/**
out/**
classes/**
bak/**
.gitignore.bak
.classpath
.mymetadata
.project
.class
*.settings/**
*.DS_Store


# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db